/*-------------------------------------------*\
    Forms
\*-------------------------------------------*/

:root {
    --checkmark-width: 11px;
    --radio-dot-width: 5px;
    --radio-dot-top: 5px;
    --radio-width: 13px;
    --radio-inner-shadow-hover: inset -2px -2px #f8b636, inset 2px 2px #fedf9c;
    --radio-bg-active: linear-gradient(135deg, rgba(176, 176, 167, 1) 0%, rgba(227, 225, 210, 1) 100%);
    --radio-bg: linear-gradient(135deg, rgba(220, 220, 215, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --radio-border: 1px solid #1d5281;
    --radio-border-disabled: 1px solid #cac8bb;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    background: 0;
    position: fixed;
    opacity: 0;
    border: none;
    + {
        label {
            &::before {
                background: var(--radio-bg);
                border-radius: 50%;
                border: var(--radio-border);
            }
        }
    }
    &:not([disabled]):not(:active) {
        + label {
            &:hover:before {
                box-shadow: var(--radio-inner-shadow-hover);
            }
        }
    }
    &:active {
        + {
            label {
                &::before {
                    background: var(--radio-bg-active);
                }
            }
        }
    }
    &:checked {
        + {
            label {
                &::after {
                    background: svg-load("./icon/radio-dot.svg");
                }
            }
        }
    }
    &:focus {
        + {
            label {
                outline: 1px dotted #000000;
            }
        }
    }
}
input[type="radio"][disabled] {
    + {
        label {
            &::before {
                border: var(--radio-border-disabled);
                background: white;
            }
        }
    }
    &:checked {
        + {
            label {
                &::after {
                    background: svg-load("./icon/radio-dot-disabled.svg");
                }
            }
        }
    }
}
input[type="checkbox"] {
    + label {
        &:before {
            box-shadow: none;
            border: var(--radio-border);
            background: var(--radio-bg);
        }
    }
    &:checked + label {
        &:after {
            background: svg-load("./icon/checkmark.svg");
            left: -17px;
        }
    }
    &:not([disabled]):not(:active) {
        + label {
            &:hover:before {
                box-shadow: var(--radio-inner-shadow-hover);
            }
        }
    }
    &:active {
        + {
            label {
                &::before {
                    background: var(--radio-bg-active);
                }
            }
        }
    }
}

input[type="checkbox"][disabled] {
    + {
        label {
            &::before {
                background: white;
                border: var(--radio-border-disabled);
            }
        }
    }
    &:checked {
        + {
            label {
                &::after {
                    background: svg-load("./icon/checkmark-disabled.svg");
                }
            }
        }
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 23px;
}

input::selection,
textarea::selection {
    background: var(--dialog-blue);
    color: white;
}
