/*-------------------------------------------*\
    TreeView
\*-------------------------------------------*/

ul.tree-view {
    -webkit-font-smoothing: auto;
    border: 1px solid #7f9db9;
    padding: 2px 5px;
}
