/*-------------------------------------------*\
    Tabs
\*-------------------------------------------*/

:root {
    --tab-border: 1px solid #888;
    --tab-bg: var(--surface);
}

section.tabs {
    margin-bottom: 9px;
    button.tab-title {
        top: 1px;
        cursor: pointer;
        float: left;
        background: #ccc;
        border: var(--tab-border);
        border-bottom: 0;
        white-space: nowrap;
        margin-left: -1px;
        position: relative;
        left: 1px;
        line-height: unset;
        min-width: unset;
        &:before,
        &:after {
            display: none;
        }
        &:focus {
            outline: 1px dotted black;
            outline-offset: -4px;
            box-shadow: unset;
        }
        &:hover {
            background: #eee;
        }
    }
    article.tab-content {
        padding: 14px;
        clear: both;
        background: var(--tab-bg);
        display: none;
        border: var(--tab-border);
        &.active {
            display: block;
        }
    }
}
