input[type="checkbox"] {
    & + label:before {
        box-shadow: none;
        border: 1px solid #1d5281;
        background: linear-gradient(135deg, rgba(220, 220, 215, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }
    &:checked + label {
        &:after {
            background: svg-load("./icon/checkmark.svg");
            top: var(--checkmark-top);
            left: calc(-1 * (var(--checkbox-total-width-precalc)) + var(--checkmark-left));
        }
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    box-shadow: var(--border-field);
}
