/*-------------------------------------------*\
    Global
\*-------------------------------------------*/

body {
    font-family: Arial;
    font-size: 12px;
    color: #222222;
}

@media (not(hover)) {
    button:not(:disabled):hover {
        box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    }
}
pre {
    box-shadow: var(--border-field);
}
