/*-------------------------------------------*\
    Tabs
\*-------------------------------------------*/

:root {
    --tab-border: none;
}

section.tabs {
    a.tab-title {
        top: 2px;
        background: var(--surface);
        box-shadow: inset 1px 1px #dfdfdf, inset 2px 2px #fff;
        margin-right: 2px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        &:before,
        &:after {
            display: none;
        }
        &.active {
            z-index: 2;
            box-shadow: inset 1px 1px #dfdfdf, inset 2px 2px #fff;
            border-bottom: 2px solid var(--surface);
        }
        &:active {
            outline: 1px dotted black;
            outline-offset: -4px;
        }
        padding: 3px 12px;
    }
    article.tab-content {
        box-shadow: var(--border-window-outer), var(--border-window-inner);
    }
}
