:root {
    --tab-border: none;
}

.tabs {
    > input[type="radio"] {
        ~ label {
            background: var(--surface);
            box-shadow: inset 1px 1px #dfdfdf, inset 2px 2px #fff;
            margin-right: 2px;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            &:before,
            &:after {
                display: none;
            }
        }
        &:checked + label:after {
            display: none;
        }
    }
    .tab-title {
        top: 3px;
    }
    .tab-link {
        padding: 3px 12px;
    }
    > [type="radio"]:checked + label {
        z-index: 2;
        box-shadow: inset 1px 1px #dfdfdf, inset 2px 2px #fff;
    }
    article {
        box-shadow: inset 1px 1px #fcfcfe, inset -1px -1px #fcfcfe, 1px 2px 2px 0px rgba(208, 206, 191, 0.75);
    }
    .tab {
        box-shadow: var(--border-window-outer), var(--border-window-inner);
    }
}
